
  .heading {
    font-size: 15px;
    margin: 15px;
    color: #f5efef;
  }



  #source {
    width: 50vw;
    background: #c3f1c9ce;
    height: 60vh;
    font-size: 15px;
    resize: vertical;
    margin-top: 40px;
    margin-left: 0px;
  }

  
  .input {
    background: #efefeaeb;
    width: 45.6%;
    height: 17vh;
    resize: vertical;
    font-size: 17px;
   
  }

  #output {
    background: #c3f1c9ce;
     margin-top: 70px;
     height: 50vh;
     width: 30vw;
  }
 


    .position{
      margin: 20px 0px 5px ;
    }

  .run{
    border: 3px solid rgba(255, 255, 255, 0.45);
    border-radius: 6px;
    background: #efefeaeb;
    padding: 5px;
    width: 50px;
    height: 40px;
    margin-left: 70px;
    margin-right: 40px;
    }

    
    .btn , select option , select{
    height: 30px;
    border: 3px solid rgba(246, 247, 242, 0.45);
    border-radius: 6px;
    background: #efefeaeb;
    
}
.btn{
  margin-left: 60px;
  padding: 4px;
}
.vertical{
  display: flex;
  justify-content: space-around;
}

.clr:active {
  transform: scale(0.98);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
  background-color:rgba(30, 9, 188, 0.482);
}