.nav{
height: 12vh;
width: 100vw;
padding:  15px;
margin: 0px;
background-color: rgba(18, 63, 3, 0.498);
text-align: center;
color: rgb(252, 252, 252);
font-size: larger;
}

#cactus{
    height: 6vh;
}